.combined{
    margin-left: 20px;
}
.txtar{
    width: 80%;
    height: 36px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}
.button{
    border: none;
    background-color: #086066;
    color: beige;
    height: 33px;
    width: 77px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.name{
    margin-top: 10px;
}